<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.mad_project_2021">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/image"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.MAD_Project_2021">
        <activity
            android:name=".IT20276232.Deliver_Items"
            android:exported="true" />
        <activity
            android:name=".IT20278380.Cus_Contact"
            android:exported="true" />
        <activity
            android:name=".IT20278380.Cus_Home"
            android:exported="true" />
        <activity
            android:name=".IT20278380.Customer_Area"
            android:exported="true" />
        <activity
            android:name=".IT20278380.Cus_Profile"
            android:exported="true" />
        <activity
            android:name=".IT20479428.Admin_Accessories_Lap_Image"
            android:exported="true" />
        <activity
            android:name=".IT20479428.Admin_Lap_Acc_Add"
            android:exported="true" />
        <activity
            android:name=".IT20479428.Admin_Laptop_Acessories"
            android:exported="true" />
        <activity
            android:name=".IT20479428.Admin_Accessories_Com_Image"
            android:exported="true" />
        <activity
            android:name=".IT20479428.Admin_Com_Acc_Add"
            android:exported="true" />
        <activity
            android:name=".IT20479428.Admin_Computer_Accessoies"
            android:exported="true" />
        <activity
            android:name=".IT20479428.Admin_Accessories"
            android:exported="true" />
        <activity
            android:name=".IT20426958.Admin_New_Laptop_Image"
            android:exported="true" />
        <activity
            android:name=".IT20426958.Admin_B_Laptop_Add"
            android:exported="true" />
        <activity
            android:name=".IT20426958.Admin_Brand__New_Leptop"
            android:exported="true" />
        <activity
            android:name=".IT20426958.Admin_New_Computer_Image"
            android:exported="true" />
        <activity
            android:name=".IT20426958.Admin_B_Computer_Add"
            android:exported="true" />
        <activity
            android:name=".IT20426958.Admin_Brand_New_Computer"
            android:exported="true" />
        <activity
            android:name=".IT20426958.Admin_Brand_New"
            android:exported="true" />
        <activity
            android:name=".IT20426958.Admin_Update"
            android:exported="true" />
        <activity
            android:name=".IT20426958.Admin_Profile"
            android:exported="true" />
        <activity android:name=".IT20276232.Deliver_Update" />
        <activity android:name=".IT20276232.Deliver_Profile" />
        <activity android:name=".IT20276232.Deliver_Register" />
        <activity android:name=".IT20479428.Admin_Register" />
        <activity android:name=".IT20276232.Deliver_Login" />
        <activity android:name=".IT20479428.Admin_Loin" />
        <activity android:name=".IT20278380.Cus_Register" />
        <activity android:name=".IT20278380.Cus_Login" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>