<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.mad_project_2021">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/image"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.MAD_Project_2021">
        <activity
            android:name=".Deliver_Items"
            android:exported="true" />
        <activity
            android:name=".Cus_Contact"
            android:exported="true" />
        <activity
            android:name=".Cus_Home"
            android:exported="true" />
        <activity
            android:name=".Customer_Area"
            android:exported="true" />
        <activity
            android:name=".Cus_Profile"
            android:exported="true" />
        <activity
            android:name=".Admin_Accessories_Lap_Image"
            android:exported="true" />
        <activity
            android:name=".Admin_Lap_Acc_Add"
            android:exported="true" />
        <activity
            android:name=".Admin_Laptop_Acessories"
            android:exported="true" />
        <activity
            android:name=".Admin_Accessories_Com_Image"
            android:exported="true" />
        <activity
            android:name=".Admin_Com_Acc_Add"
            android:exported="true" />
        <activity
            android:name=".Admin_Computer_Accessoies"
            android:exported="true" />
        <activity
            android:name=".Admin_Accessories"
            android:exported="true" />
        <activity
            android:name=".Admin_New_Laptop_Image"
            android:exported="true" />
        <activity
            android:name=".Admin_B_Laptop_Add"
            android:exported="true" />
        <activity
            android:name=".Admin_Brand__New_Leptop"
            android:exported="true" />
        <activity
            android:name=".Admin_New_Computer_Image"
            android:exported="true" />
        <activity
            android:name=".Admin_B_Computer_Add"
            android:exported="true" />
        <activity
            android:name=".Admin_Brand_New_Computer"
            android:exported="true" />
        <activity
            android:name=".Admin_Brand_New"
            android:exported="true" />
        <activity
            android:name=".Admin_Update"
            android:exported="true" />
        <activity
            android:name=".Admin_Profile"
            android:exported="true" />
        <activity android:name=".Deliver_Update" />
        <activity android:name=".Deliver_Profile" />
        <activity android:name=".Deliver_Register" />
        <activity android:name=".Admin_Register" />
        <activity android:name=".Deliver_Login" />
        <activity android:name=".Admin_Loin" />
        <activity android:name=".Cus_Register" />
        <activity android:name=".Cus_Login" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>